.appWrapper {
  height: 100vh;
  padding: 0 6%;
}

.headerWrapper {
  width: 100%;
  height: 7.5rem;
  margin-bottom: 3rem;
}

.calcDisplayWrapper {
  width: 100%;
  height: 9rem;
  padding: 6% 7%;

  font-size: 3.2rem;
}