.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.appContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 590px;
  height: 100%;
  padding: 35px 24px 30px;
}

.headerWrapper {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 33px;
}

.calculator {
  width: 100%;
  height: calc(100% - 3.5rem - 33px);
  max-height: 632px;
}

.calcDisplayWrapper {
  width: 100%;
  height: 16.5%;
  padding: 0 7%;
  margin-bottom: 24px;
}

.calcButtonsWrapper {
  width: 100%;
  height: calc(83% - 24px);
  padding: 7.5% 7.4% 8%;

  row-gap: 3.5%;
  column-gap: 4.5%;
}


/*************************** Media Queries */

@media screen and (min-width: 700px) {
  .calcButtonsWrapper {
    column-gap: 5%;
  }
}

@media screen and (min-height: 700px) {
  .calcDisplayWrapper {
    height: 20%;
  }

  .calcButtonsWrapper {
    row-gap: 6%;
    height: calc(80% - 24px);
    padding: 6% 5.7% 6.2%;
  }
}