/************************************ Themes */

/* Dark Theme */

.darkTheme {
  --primary-bg-color: hsl(222, 26%, 31%);
  --secondary-bg-color: hsl(223, 31%, 20%);
  --calc-display-bg-color: hsl(224, 36%, 15%);

  --key-primary-bg-color: hsl(30, 25%, 89%);
  --key-primary-shadow-color: hsl(28, 16%, 65%);
  --key-secondary-bg-color: hsl(225, 21%, 49%);
  --key-secondary-shadow-color: hsl(224, 28%, 35%);
  --key-tertiary-bg-color: hsl(6, 63%, 50%);
  --key-tertiary-shadow-color: hsl(6, 70%, 34%);

  --text-light-color: white;
  --text-dark-color: hsl(221, 14%, 31%);
}


/* Light Theme */

.lightTheme {
  --primary-bg-color: hsl(0, 0%, 90%);
  --secondary-bg-color: hsl(0, 5%, 81%);
  --calc-display-bg-color: hsl(0, 0%, 93%);

  --key-primary-bg-color: hsl(30, 25%, 89%);
  --key-primary-shadow-color: hsl(35, 11%, 61%);
  --key-secondary-bg-color: hsl(185, 42%, 37%);
  --key-secondary-shadow-color: hsl(185, 58%, 25%);
  --key-tertiary-bg-color: hsl(25, 98%, 40%);
  --key-tertiary-shadow-color: hsl(25, 99%, 27%);

  --text-light-color: white;
  --text-dark-color: hsl(60, 10%, 19%);
}


/* Neon Theme */

.neonTheme {
  --primary-bg-color: hsl(268, 75%, 9%);
  --secondary-bg-color: hsl(268, 71%, 12%);
  --calc-display-bg-color: hsl(268, 71%, 12%);

  --key-primary-bg-color: hsl(268, 47%, 21%);
  --key-primary-shadow-color: hsl(290, 70%, 36%);
  --key-secondary-bg-color: hsl(281, 89%, 26%);
  --key-secondary-shadow-color: hsl(285, 91%, 52%);
  --key-tertiary-bg-color: hsl(176, 100%, 44%);
  --key-tertiary-shadow-color: hsl(177, 92%, 70%);

  --text-light-color: white;
  --text-dark-color: hsl(60, 10%, 19%);
}


/*********************************** Theme Styles */

#appWrapper {
  background-color: var(--primary-bg-color);
  color: var(--text-light-color);
}

.themeToggler .toggleBody {
  background-color: var(--secondary-bg-color);
}

.themeToggler .toggleSwitch {
  background-color: var(--key-tertiary-bg-color);
}

.calcDisplay {
  background-color: var(--calc-display-bg-color);
}