/************************************ Themes */

/* Dark Theme */

.darkTheme {
  --primary-bg-color: hsl(222, 26%, 31%);
  --secondary-bg-color: hsl(223, 31%, 20%);
  --calc-display-bg-color: hsl(224, 36%, 15%);

  --key-primary-bg-color: hsl(30, 25%, 89%);
  --key-primary-shadow-color: hsl(28, 16%, 65%);
  --key-secondary-bg-color: hsl(225, 21%, 49%);
  --key-secondary-shadow-color: hsl(224, 28%, 35%);
  --key-tertiary-bg-color: hsl(6, 63%, 50%);
  --key-tertiary-shadow-color: hsl(6, 70%, 34%);

  --text-light-color: white;
  --text-dark-color: hsl(221, 14%, 31%);
  --display-text-color: var(--text-light-color);
  --theme-toggler-text-color: var(--text-light-color);
  --header-text-color: var(--text-light-color);
  --button-text-color: var(--text-dark-color);
  --delete-button-text-color: var(--text-light-color);
  --reset-button-text-color: var(--text-light-color);
  --evaluate-button-text-color: var(--text-light-color);

  --font-family: 'Spartan', sans-serif;
}


/* Light Theme */

.lightTheme {
  --primary-bg-color: hsl(0, 0%, 90%);
  --secondary-bg-color: hsl(0, 5%, 81%);
  --calc-display-bg-color: hsl(0, 0%, 93%);

  --key-primary-bg-color: hsl(30, 25%, 89%);
  --key-primary-shadow-color: hsl(35, 11%, 61%);
  --key-secondary-bg-color: hsl(185, 42%, 37%);
  --key-secondary-shadow-color: hsl(185, 58%, 25%);
  --key-tertiary-bg-color: hsl(25, 98%, 40%);
  --key-tertiary-shadow-color: hsl(25, 99%, 27%);

  --text-light-color: white;
  --text-dark-color: hsl(60, 10%, 19%);
  --display-text-color: var(--text-dark-color);
  --theme-toggler-text-color: var(--text-dark-color);
  --header-text-color: var(--text-dark-color);
  --button-text-color: var(--text-dark-color);
  --delete-button-text-color: var(--text-light-color);
  --reset-button-text-color: var(--text-light-color);
  --evaluate-button-text-color: var(--text-light-color);

  --font-family: 'Spartan', sans-serif;
}


/* Neon Theme */

.neonTheme {
  --primary-bg-color: hsl(268, 75%, 9%);
  --secondary-bg-color: hsl(268, 71%, 12%);
  --calc-display-bg-color: hsl(268, 71%, 12%);

  --key-primary-bg-color: hsl(268, 47%, 21%);
  --key-primary-shadow-color: hsl(290, 70%, 36%);
  --key-secondary-bg-color: hsl(281, 89%, 26%);
  --key-secondary-shadow-color: hsl(285, 91%, 52%);
  --key-tertiary-bg-color: hsl(176, 100%, 44%);
  --key-tertiary-shadow-color: hsl(177, 92%, 70%);

  --text-light-color: white;
  --text-dark-color: hsl(198, 20%, 13%);
  --text-tertiary-color: hsl(52, 100%, 62%);
  --display-text-color: var(--text-tertiary-color);
  --theme-toggler-text-color: var(--text-tertiary-color);
  --header-text-color: var(--text-tertiary-color);
  --button-text-color: var(--text-tertiary-color);
  --delete-button-text-color: var(--text-light-color);
  --reset-button-text-color: var(--text-light-color);
  --evaluate-button-text-color: var(--text-dark-color);

  --font-family: 'Spartan', sans-serif;
}


/*********************************** Theme Styles */

.appWrapper {
  background-color: var(--primary-bg-color);
  color: var(--text-light-color);
  font-family: var(--font-family);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.header {
  color: var(--header-text-color);

  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.themeToggler {
  color: var(--theme-toggler-text-color);

  transition-property: color;
  transition-duration: 350ms;
  transition-timing-function: linear;
}


.themeToggler .toggleBody {
  background-color: var(--secondary-bg-color);

  transition-property: background-color;
  transition-duration: 350ms;
  transition-timing-function: linear;
}


.themeToggler .toggleSwitch {
  background-color: var(--key-tertiary-bg-color);

  transition-property: all;
  transition-duration: 350ms;
  transition-timing-function: linear;
}


.calcDisplay {
  background-color: var(--calc-display-bg-color);
  color: var(--display-text-color);

  font-size: 3.2rem;

  transition-property: background-color, color;
  transition-duration: 450ms;
  transition-timing-function: linear;
}

.calcButtons {
  background-color: var(--secondary-bg-color);

  transition-property: background-color;
  transition-duration: 550ms;
  transition-timing-function: linear;
}

.button {
  /* Deal with extra space taken up by box-shadow */
  margin-bottom: 4px;

  background-color: var(--key-primary-bg-color);
  box-shadow: 0 4px var(--key-primary-shadow-color);
  color: var(--button-text-color);

  font-family: var(--font-family);
  font-size: 2.7rem;

  transition-property: all;
  transition-duration: 550ms;
  transition-timing-function: linear;
}

.button.deleteButton,
.button.resetButton {
  background-color: var(--key-secondary-bg-color);
  box-shadow: 0 4px var(--key-secondary-shadow-color);
  color: var(--text-light-color);
  font-size: 1.7rem;
}

.button.deleteButton {
  color: var(--delete-button-text-color);
}

.button.evaluateButton {
  background-color: var(--key-tertiary-bg-color);
  box-shadow: 0 4px var(--key-tertiary-shadow-color);
  color: var(--evaluate-button-text-color);
  font-size: 1.6rem;
}


@media screen and (min-width: 700px) and (min-height: 700px) {
  .calcDisplay {
    font-size: 4.8rem;
  }

  .button {
    font-size: 3.1rem;
  }

  .button.deleteButton,
  .button.resetButton {
    font-size: 2rem;
  }

  .button.evaluateButton {
    font-size: 2rem;
  }
}